<%= form_for [@conversation, @message] do |f| %>
  <%= f.text_field :body, class: "write_msg", placeholder: "Inquire about a trade..." %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %><br>
  <div class="text-right">
    <%= f.button '<i class="fas fa-paper-plane"></i>'.html_safe, class: "msg_send_btn", type: "submit" %>
  </div>
<% end %>