@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-4.0.0/scss/_functions.scss";
@import "~bootstrap-4.0.0/scss/_variables.scss";
@import "~bootstrap-4.0.0/scss/mixins/_breakpoints.scss";
@import "@fortawesome/fontawesome-free";

@import "./navbar.scss";
@import "./products.scss";
@import "./product.scss";
@import "./login.scss";
@import "./product_form.scss";
@import "./messages.scss";
@import "./conversations.scss";

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');

.user-avatar-edit {
  height: 100px;
}

.user-avatar {
  height: 80px;
}

.image-upload > input {
   display: none;
}

.image-upload > label {
  cursor:pointer;
}

body {
  background-image: linear-gradient(to right,rgb(201, 201, 201), rgb(255, 255, 255))!important;
}