@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free";
@import "./navbar.scss";
@import "./products.scss";
@import "./product.scss";
@import "./login.scss";
@import "./product_form.scss";

* {
  font-family: Lato,sans-serif;
}

.user-avatar-edit {
  height: 100px;
}

.user-avatar {
  height: 80px;
}

.image-upload > input {
   display: none;
}

.image-upload > label {
  cursor:pointer;
}