
 .login-btn {
    border-radius: 500px!important;
  }
 
 .facebook-div {
   border: 1px solid #3b5998;
   padding: 12px 30px;
   background-color: #3b5998;
   color: white;
   border-radius: 500px;
   border-width: 0;
   max-width: 420px;
   text-transform: uppercase;
   white-space: normal;
   margin: 28px auto;
 }
 
 .facebook-icon {
   font-size: 22px;
 }
 
 #facebook {
   text-decoration: none;
   color: white;
 }
 
 .facebook-div a {
   padding-left: 4px;
 }
 
 .facebook-icon {
   font-size: 24px!important;
 }
 
 .login-container {
   text-align: center;
   margin: auto;
   width: 420px;
 }
 
 .field {
   max-width: 420px;
   margin: 20px auto;
 }
 
 .profile-img {
   border-radius: 500px;
   height: 30px;
 }
 