.navbar {
  padding: 10px 12% 66px 12%;
  background-image: linear-gradient(to right,rgb(56, 71, 92), rgb(30, 204, 131))!important;
}

.navbar-brand {
  font-size: 34px;
}

.nav-link {
  font-size: 20px;
  color: white!important;
}
