.navbar {
  padding: 10px 12% 10px 12%;
  background-image: linear-gradient(to right,rgb(56, 71, 92), rgb(65, 170, 126))!important;
}

.navbar-brand {
  font-size: 34px;
  font-weight: bold;
}

.nav-link {
  font-size: 22px;
  color: white!important;
}

.div {
  border: 0px solid linear-gradient(to right,rgb(56, 71, 92), rgb(65, 170, 126));
  background-image: linear-gradient(to right,rgb(56, 71, 92), rgb(65, 170, 126))!important;
}

.nav-image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.message_icon {
  font-size: 26px;
  color: white;
}